.App {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  width: 100vw;
  height: 100vh;

  background: -webkit-linear-gradient(125deg, #0004e8, #00025e, #00013b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    125deg,
    #0004e8,
    #00025e,
    #00013b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
